Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

change to sensitive value
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

update settings
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

update properties
  terraform/downloads/prowlarr/.terraform.lock.hcl
  terraform/media/radarr/media-management.tf
  terraform/media/sonarr/media-management.tf
Labels: area/terraform

fix property
  terraform/media/radarr/media-management.tf
Labels: area/terraform

chore(deps): update actions/create-github-app-token digest to f4c6bf6
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/coder/code-server to v4.21.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.30.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to f4c6bf6
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

update cluster settings
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

add jellyfin
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

fix ks
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
Labels: area/kubernetes

update icon
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/dmfrey/kubernetes-schemas to eedcf74
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/dmfrey/kubernetes-schemas to eedcf74
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

update env
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

disable lidarr and tdarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr to v1.13.3.4273
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

add lidarr terraform
  terraform/media/lidarr/.terraform.lock.hcl
  terraform/media/lidarr/download-client.tf
  terraform/media/lidarr/main.tf
  terraform/media/lidarr/media-management.tf
  terraform/media/lidarr/provider.tf
  terraform/media/lidarr/tags.tf
  terraform/media/lidarr/variables.tf
Labels: area/terraform

add lidarr tf provisioner
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/lidarr/provision/kustomization.yaml
  kubernetes/apps/media/lidarr/provision/tf.yaml
  kubernetes/flux/repositories/oci/dmfrey-terraform-lidarr.yaml
Labels: area/kubernetes

add lidarr repo
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix copy and paste error
  terraform/media/lidarr/download-client.tf
Labels: area/terraform

remove unknown type
  terraform/media/lidarr/media-management.tf
  terraform/media/lidarr/tags.tf
Labels: area/terraform

fix field names
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

enable tdarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

update securty groups
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
Labels: area/kubernetes

disable tdarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable lidarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
Labels: area/kubernetes

disable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

disable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

add readarr terraform
  kubernetes/flux/repositories/oci/dmfrey-terraform-readarr.yaml
  terraform/media/readarr/.terraform.lock.hcl
  terraform/media/readarr/download-client.tf
  terraform/media/readarr/main.tf
  terraform/media/readarr/media-management.tf
  terraform/media/readarr/provider.tf
  terraform/media/readarr/tags.tf
  terraform/media/readarr/variables.tf
Labels: area/kubernetes, area/terraform

add readarr provisioner
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/apps/media/readarr/provision/kustomization.yaml
  kubernetes/apps/media/readarr/provision/tf.yaml
Labels: area/kubernetes

fix oci repo
  kubernetes/flux/repositories/oci/dmfrey-terraform-readarr.yaml
Labels: area/kubernetes

update config
  terraform/media/radarr/media-management.tf
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.19.2424
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
