Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

feat(helm): update chart kube-prometheus-stack to 55.6.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.3
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

update script reference
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

cleanup commented code
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

upgrade app-template
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

enable mosquito
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

disable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

enable mosquitto
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

update initContainer
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

set permissions
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

disable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

enable mosquitto
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix defaultMode position
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

disable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

enable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

disable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

fix permissions
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

enable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

disable mosquitto
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

enable mosquitto
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

upgrade app-template
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/wyoming-piper/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-whisper/app/helmrelease.yaml
Labels: area/kubernetes

enable wyoming projects
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/home/wyoming-whisper/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

upgrade app-template
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/pvc.yaml
  kubernetes/apps/home/home-assistant/app/secret-deploy-key.sops.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

enable home-assistant
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

disable home-assistant
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

fix image block
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

enable home-assistant
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.52
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.8
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix code server ingress
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

upgrade home assistant
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

disable initContainer
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.53
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

updates to init repo
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix path
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add shorter timeout
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

show some output
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
