Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

chore(deps): update gitrepository to source.toolkit.fluxcd.io/v1
  kubernetes/flux/repositories/git/spring-cloud-gateway-k8s.yaml
Labels: area/kubernetes

add ssh key for github
  .sops.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
  kubernetes/flux/repositories/git/secret-github-repo.sops.yaml
  kubernetes/flux/repositories/git/spring-cloud-gateway-k8s.yaml
Labels: root, area/kubernetes

add image pull secret
  kubernetes/apps/gateway/spring-cloud-gateway/app/kustomization.yaml
  kubernetes/apps/gateway/spring-cloud-gateway/app/secret-spring-cloud-gateway-image-pull-secret.sops.yaml
Labels: area/kubernetes

update image pull secret
  kubernetes/apps/gateway/spring-cloud-gateway/app/secret-spring-cloud-gateway-image-pull-secret.sops.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart thanos to 12.16.2
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.10.7
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

undeploy authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

create a gateway
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/ks.yaml
  kubernetes/apps/spring-dev/kustomization.yaml
  kubernetes/apps/spring-dev/namespace.yaml
Labels: area/kubernetes

set ns
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 25a1310
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 25a1310
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.4
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

enable alert-manager
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

deploy time-service
  kubernetes/apps/spring-dev/kustomization.yaml
  kubernetes/apps/spring-dev/time-service/app/helmrelease.yaml
  kubernetes/apps/spring-dev/time-service/app/kustomization.yaml
  kubernetes/apps/spring-dev/time-service/ks.yaml
Labels: area/kubernetes

update time-service
  kubernetes/apps/spring-dev/time-service/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to 2986852
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

update resources
  kubernetes/apps/spring-dev/time-service/app/helmrelease.yaml
Labels: area/kubernetes

setup gateway mapping and routes
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/mapping.yaml
  kubernetes/apps/spring-dev/gateway/app/route-config.yaml
Labels: area/kubernetes

set ns
  kubernetes/apps/spring-dev/gateway/app/mapping.yaml
  kubernetes/apps/spring-dev/gateway/app/route-config.yaml
Labels: area/kubernetes

add spring-dev gateway ingress
  kubernetes/apps/spring-dev/gateway/app/ingress.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
Labels: area/kubernetes

remove annotation
  kubernetes/apps/spring-dev/gateway/app/ingress.yaml
Labels: area/kubernetes

update to external
  kubernetes/apps/spring-dev/gateway/app/ingress.yaml
Labels: area/kubernetes

add tls
  kubernetes/apps/spring-dev/gateway/app/ingress.yaml
Labels: area/kubernetes

add spring-dev-gateway to auth
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

disable initContainer
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

enable initContainer
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update flux group to v1.2.1
  kubernetes/bootstrap/flux/install.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/alpine to 2d4bec1
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/fluxcd/image-reflector-controller to v0.31.0
  kubernetes/bootstrap/flux/install.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/alpine to v3.19.0
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.1.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.40.1
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

enable gateway sso
  kubernetes/apps/gateway/spring-cloud-gateway/app/kustomization.yaml
  kubernetes/apps/gateway/spring-cloud-gateway/app/secret-spring-dev-gateway.sops.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
  kubernetes/apps/spring-dev/gateway/app/ingress.yaml
  kubernetes/apps/spring-dev/gateway/app/route-config.yaml
  kubernetes/apps/spring-dev/gateway/ks.yaml
Labels: area/kubernetes

update secret
  kubernetes/apps/gateway/spring-cloud-gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/secret-spring-dev-gateway.sops.yaml
Labels: area/kubernetes

fix properties
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/secret-spring-dev-gateway-authentik.sops.yaml
Labels: area/kubernetes

fix name
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
Labels: area/kubernetes

fix name
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
Labels: area/kubernetes
