Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

fix(container): update image ghcr.io/foxcpp/maddy to v0.7.1
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart promtail to 6.15.4
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.26.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

update scene
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

update scene
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

fix(github-release): update siderolabs/talos to v1.6.3
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-16
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v42.0.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 56.0.4
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update peter-evans/create-issue-from-file action to v5.0.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.17.2406
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

disable pushover notifications
  terraform/backup/notification.tf
Labels: area/terraform

move backup
  terraform/backup/notification.tf
Labels: area/terraform

remove pushover vars
  terraform/downloads/prowlarr/variables.tf
Labels: area/terraform

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.5
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-operator-crds to 9.0.1
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v42.0.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(helm): update rook ceph group to v1.13.3
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/rocm/k8s-device-plugin to v1.25.2.7
  kubernetes/apps/system/amd-device-plugin/app/plugin/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.14.3
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart rabbitmq-cluster-operator to 3.14.0
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.2
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(container): update image gha-runner-scale-set-controller to v0.8.2
  kubernetes/apps/dev/actions-runner/controller/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 56.2.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/alpine to v3.19.1
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.1014
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.9.1
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos group
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v40.0.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart grafana to 7.2.5
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.42.0
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update memory request
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

update memory requests
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

add family device group
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

feat(github-action): update robinraju/release-downloader action to v1.9
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to 86576b3
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.13.0.4217
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to 86576b3
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github
