Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

add sabnzbd to authentik
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.15.4
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

update secret and cm
  kubernetes/apps/download/sabnzbd/app/cm.yaml
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
Labels: area/kubernetes

Disable sabnzb
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

enable sabnzbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.3
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.29.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

disable sabnzb
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

enable sabnzbd
  kubernetes/apps/download/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/cm.yaml
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.67
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

remove persistence
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

disable sabnzbd and updated config
  kubernetes/apps/download/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/cm.yaml
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update secret
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
Labels: area/kubernetes

enable sabnzbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

disable sabnzbd
  kubernetes/apps/download/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

enable sabnzbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

disable sabnzbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.15.5
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.23.2
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.12.0
  kubernetes/apps/monitor/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

enable sabnzbd
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/download/sabnzbd/common/kustomization.yaml
  kubernetes/apps/download/sabnzbd/common/secret-sabnzbd.sops.yaml
  kubernetes/apps/download/sabnzbd/ks.yaml
Labels: area/kubernetes

enable sabznbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/download/sabnzbd/ks.yaml
Labels: area/kubernetes

fix paths
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
  kubernetes/apps/download/sabnzbd/config/cm.yaml
  kubernetes/apps/download/sabnzbd/config/kustomization.yaml
Labels: area/kubernetes

update reflector annotations
  kubernetes/apps/download/sabnzbd/common/secret-sabnzbd.sops.yaml
Labels: area/kubernetes

fix port anchors
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update key
  kubernetes/apps/download/sabnzbd/common/secret-sabnzbd.sops.yaml
Labels: area/kubernetes

update reloading
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update server priority
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

add download client to prowlarr
  kubernetes/apps/download/prowlarr/ks.yaml
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  kubernetes/apps/download/sabnzbd/ks.yaml
  terraform/downloads/prowlarr/download-client.tf
  terraform/downloads/prowlarr/variables.tf
Labels: area/kubernetes, area/terraform

update name
  terraform/downloads/prowlarr/download-client.tf
Labels: area/terraform

update default category
  terraform/downloads/prowlarr/download-client.tf
Labels: area/terraform

add misc category
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

update default category
  terraform/downloads/prowlarr/download-client.tf
Labels: area/terraform

add sabnzb download client to sonarr
  kubernetes/apps/download/sabnzbd/common/secret-sabnzbd.sops.yaml
  kubernetes/apps/download/sabnzbd/config/cm.yaml
  terraform/media/sonarr/download-client.tf
  terraform/media/sonarr/variables.tf
Labels: area/kubernetes, area/terraform

fix sabnzb config
  terraform/media/sonarr/download-client.tf
Labels: area/terraform

add secret to substitute from
  kubernetes/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

fix terraforms
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
Labels: area/kubernetes

add download client to radarr
  terraform/media/radarr/download-client.tf
Labels: area/terraform

update tags
  terraform/media/radarr/tags.tf
  terraform/media/sonarr/tags.tf
Labels: area/terraform
