Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

remove sensitive flag
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

update outputs
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

decrease interval for testing
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update groups
  infrastructure/terraform/security/authentik/directory.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update group lookup
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

remove index
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

enable family users
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update groups
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app icon
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update users
  infrastructure/terraform/security/authentik/users.tf
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

update users
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

update users
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret keys
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update variables
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update terraform
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update terraform
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update geoip config
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert authentik version
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert chart
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable authentik
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable authentik
  kubernetes/homelab-k8s-001/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable geoip
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable terraform
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable terraform
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update users
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

disable users variable
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

update groups
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

disable groups
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

disable applications
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

enable groups and applications
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

disable groups
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

disable grafana application
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update application
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update application
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

disable applications
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update groups
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

update users
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

enable application
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"
