Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.15.2361
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.56
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

change minio url
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix class name
  kubernetes/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.10.8
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.22
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

change port
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

update config for input_numbers
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to f04aa94
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart loki to 5.41.5
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 7.1.0
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.62
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/cloudflare/cloudflared to v2024
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.15.2366
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.14.0
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.10.9
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.20.2
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.58
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to f04aa94
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 55.7.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.9
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

enable mqtt debug logging
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

enable custom components
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

remove updater
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.2
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

attempt to fix ingress
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

update code configuration
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.13.2
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

tweak postgres instance
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

fix(helm): update chart spring-cloud-dataflow to 26.2.1
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.15.2368
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.14.1
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.20.3
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.6
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.8.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
