Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

update terraform
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  terraform/downloads/prowlarr/main.tf
Labels: area/kubernetes, area/terraform

fix(github-release): update flux group to v2.2.3
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-schemas.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

update cert manager
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

disable media and downloads
  kubernetes/apps/download/flaresolverr/ks.yaml
  kubernetes/apps/download/kustomization.yaml
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/download/rdt-client/app/pv.yaml
  kubernetes/apps/download/rdt-client/ks.yaml
  kubernetes/apps/media/common/mount/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable some download apps
  kubernetes/apps/download/kustomization.yaml
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/apps/download/rdt-client/app/pv.yaml
Labels: area/kubernetes

add security groups
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

remove supplemental groups
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

clean up and enable some media apps
  kubernetes/apps/download/rdt-client/app/pv.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/common/mount/downloads-pv.yaml
  kubernetes/apps/media/common/mount/downloads-pvc.yaml
  kubernetes/apps/media/common/mount/kustomization.yaml
  kubernetes/apps/media/common/mount/music-pv.yaml
  kubernetes/apps/media/common/mount/music-pvc.yaml
  kubernetes/apps/media/common/mount/photos-pv.yaml
  kubernetes/apps/media/common/mount/photos-pvc.yaml
  kubernetes/apps/media/common/mount/pv.yaml
  kubernetes/apps/media/common/mount/videos-pv.yaml
  kubernetes/apps/media/common/mount/videos-pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

change path
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

clean up and enable more media apps
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  terraform/media/radarr/media-management.tf
  terraform/media/sonarr/media-management.tf
Labels: area/kubernetes, area/terraform

enable readarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

update paths
  terraform/media/radarr/media-management.tf
  terraform/media/sonarr/media-management.tf
Labels: area/terraform

update terraforms
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
  terraform/media/radarr/main.tf
  terraform/media/sonarr/main.tf
Labels: area/kubernetes, area/terraform

enable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

update plex groups
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

enable sonarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable dataflow
  kubernetes/apps/dataflow/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.21.0
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

auto approve plans
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
Labels: area/kubernetes

enable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable radarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
Labels: area/kubernetes

set interval to 15 minutes
  kubernetes/apps/media/radarr/provision/tf.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.15.0
  infrastructure/.terraform.lock.hcl
  infrastructure/gcp-kms.tf
Labels: none

enable prowlarr
  kubernetes/apps/download/kustomization.yaml
  kubernetes/apps/download/prowlarr/provision/tf.yaml
Labels: area/kubernetes

set interval
  kubernetes/apps/media/sonarr/provision/tf.yaml
Labels: area/kubernetes

add sabnzbd download client
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/apps/download/sabnzbd/app/cm.yaml
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/download/sabnzbd/app/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
  kubernetes/apps/download/sabnzbd/ks.yaml
Labels: area/kubernetes

update secret
  kubernetes/apps/download/sabnzbd/app/secret-sabnzbd.sops.yaml
Labels: area/kubernetes

add secret ref
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update exportarr sidecar
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update secret
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update exporter
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

update exporter
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.28.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

disable exporter
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

disable sabnzbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

enable sabnzbd
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

update urls
  kubernetes/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes
