Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

disable readarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable readarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

update oci repos
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

update field
  terraform/media/readarr/media-management.tf
Labels: area/terraform

add required properties
  terraform/media/readarr/media-management.tf
Labels: area/terraform

add required properties
  terraform/media/readarr/media-management.tf
Labels: area/terraform

update property
  terraform/media/readarr/media-management.tf
Labels: area/terraform

update port
  terraform/media/readarr/variables.tf
Labels: area/terraform

add book category
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/lidarr to v2.1.7.4030
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v40.1.0
  .github/workflows/renovate.yaml
Labels: area/github

test fix for prowlarr tf
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

feat(terraform): update terraform google to 5.16.0
  infrastructure/.terraform.lock.hcl
  infrastructure/gcp-kms.tf
Labels: none

fix(container): update image rogerfar/rdtclient to v2.0.61
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update endbug/label-sync action to v2.3.3
  .github/workflows/meta-sync-labeler.yaml
Labels: area/github

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v16.2-1
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.1.1
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-controller to 2.2.0
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart thanos to 13.0.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-node-exporter to 4.30.1
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.43.0
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart rabbitmq-cluster-operator to 3.16.1
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

upgrade cilium 1.15.0
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

fix(github-release): update kubernetes/kubernetes to 1.29.2
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

disable prowlarr
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

enable prowlarr
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.2-2
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.15.1
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart spring-cloud-dataflow to 26.5.4
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart rabbitmq-cluster-operator to 3.17.0
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update talos config
  bak/talconfig.yaml
  infrastructure/talos/README.md
Labels: none

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update k8s version
  infrastructure/talos/talconfig.yaml
Labels: none

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update hamjari url
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/theme-park to a22b171
  kubernetes/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
