Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

fix(helm): update chart rabbitmq-cluster-operator to 3.10.10
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

add zones
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
  kubernetes/apps/home/home-assistant/app/secret-home-assistant.sops.yaml
Labels: area/kubernetes

config updates
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
  kubernetes/apps/home/home-assistant/app/secret-home-assistant.sops.yaml
Labels: area/kubernetes

remove hue configuration
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 55.8.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 7.2.0
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.15.2376
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v41.1.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v41.1.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.1.4201
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

remove Terraform
  kubernetes/apps/flux-system/add-ons/notifications/alert.yaml
Labels: area/kubernetes

fix pg-authentik
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

update volsync secret
  kubernetes/apps/storage/volsync/policy/secret-flux-volsync.sops.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-15
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

update dashboards
  kubernetes/apps/flux-system/add-ons/monitoring/dashboard/kustomization.yaml
Labels: area/kubernetes

update annoations and labels
  kubernetes/apps/flux-system/add-ons/monitoring/dashboard/kustomization.yaml
Labels: area/kubernetes

update labels and annotations
  kubernetes/apps/flux-system/add-ons/monitoring/dashboard/kustomization.yaml
Labels: area/kubernetes

update mount options
  kubernetes/apps/media/common/mount/pv.yaml
Labels: area/kubernetes

disable radarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable radarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable mounts
  kubernetes/apps/media/common/mount/downloads-pv.yaml
  kubernetes/apps/media/common/mount/music-pv.yaml
  kubernetes/apps/media/common/mount/photos-pv.yaml
  kubernetes/apps/media/common/mount/videos-pv.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable mounts
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

update mount options
  kubernetes/apps/media/common/mount/pv.yaml
Labels: area/kubernetes

update mounts
  kubernetes/apps/media/common/mount/downloads-pv.yaml
  kubernetes/apps/media/common/mount/pv.yaml
Labels: area/kubernetes

fix(container): update image docker.io/rocm/k8s-device-plugin to v1.25.2.6
  kubernetes/apps/system/amd-device-plugin/app/plugin/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.2.1
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.20.4
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.16.2380
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/bitnami/spring-cloud-dataflow to v2.11.2
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.21.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 55.8.3
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

update qnap address
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.12.0
  infrastructure/.terraform.lock.hcl
  infrastructure/gcp-kms.tf
Labels: none

disable nfs-subdir
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes

enable nfs-subdir
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes

update provisioner
  kubernetes/apps/download/prowlarr/ks.yaml
Labels: area/kubernetes

update provisioners
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
