Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

update tasks
  .taskfiles/Talos/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

update resources
  kubernetes/homelab-k8s-001/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update talos
  .gitignore
  kubernetes/homelab-k8s-001/cluster.env
  kubernetes/homelab-k8s-001/talos/backup/.gitignore
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update tasks
  .taskfiles/Workstation/Taskfile.yaml
  .taskfiles/Workstation/resources/Brewfile
Labels: area/taskfile

upgrade k8s
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update multus network attachments
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-not.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

test iot-vlan
  kubernetes/homelab-k8s-001/apps/download/common/admin/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cilium values
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert change
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

deploy onepassword-connect
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/onepassword-connect-secret-store.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

deploy onepassword-connect
  kubernetes/homelab-k8s-001/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add missing values
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

fix wrong repo
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cluster secret store
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/onepassword-connect-secret-store.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

undeploy 1password connect
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

deploy 1password connect
  kubernetes/homelab-k8s-001/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

deploy 1password connect secret store
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/onepassword-connect/app/secret-onepassword-connect-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update dummy test
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

change refresh interval
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update dummy secret
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external-secret
  kubernetes/homelab-k8s-001/templates/volsync/nfs/nfs.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external secret store
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external secret store
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/hedgedoc/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external secret store
  kubernetes/homelab-k8s-001/apps/network/external-services/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external secret store
  kubernetes/homelab-k8s-001/apps/home/zigbee2mqtt/common/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cluster secret store
  kubernetes/homelab-k8s-001/apps/home/mosquitto/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cluster secret store
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external secret
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add r2 volsync
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/unlock.yaml.j2
  kubernetes/homelab-k8s-001/apps/policy/kyverno/policies/clusterpolicy-remove-cpu-limit.yaml
  kubernetes/homelab-k8s-001/apps/policy/kyverno/policies/kustomization.yaml
  kubernetes/homelab-k8s-001/templates/volsync/nfs/kustomization.yaml
  kubernetes/homelab-k8s-001/templates/volsync/nfs/r2.yaml
Labels: area/kubernetes, area/taskfile, cluster/homelab-k8s-001

add hostLegacyRouting for talos 1.8+
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable hostLegacyRouting
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable config options
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/homelab-k8s-001/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/homelab-k8s-001

test ollama amd rocm
  kubernetes/homelab-k8s-001/apps/ai/ollama/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"
