Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to d348611
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to d348611
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart spring-cloud-dataflow to 26.2.0
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update network adapter
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.14.2348
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

rename interface
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.58
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.7
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

clean up config
  infrastructure/talos/talconfig.yaml
Labels: none

add limit on gpu
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 55.5.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.2
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

updates for talos 1.6.1
  infrastructure/talos/bootstrap.sh
  infrastructure/talos/deploy-integrations.sh
  infrastructure/talos/integrations/cni/.gitignore
  infrastructure/talos/integrations/cni/app/kustomization.yaml
  infrastructure/talos/integrations/cni/app/transformers.yaml
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/generate.sh
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/.gitignore
  infrastructure/talos/integrations/kubelet-csr-approver/app/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/app/transformers.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/generate.sh
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/talconfig.yaml
Labels: none

feat(helm): update chart prometheus-node-exporter to 4.25.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.740
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

update creds
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
Labels: area/kubernetes

change resource requests
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

remove resource request
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

disable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable exporter
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

enable exporter
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

revert sonar
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

revert sonarr
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

update for new adapter
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

disable git repo in ha
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

enable git repo
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

reconfigure zigbee2mqtt
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml_bak
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml_bak_2
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

disable zigbee2mqtt
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

remove remote path mappings
  terraform/media/radarr/download-client.tf
  terraform/media/sonarr/download-client.tf
Labels: area/terraform

enable zigbee2mqtt
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

remove stale config
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

change config
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

disable
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

enable
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
