Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

update issuer-uri
  kubernetes/apps/spring-dev/gateway/app/secret-spring-dev-gateway.sops.yaml
Labels: area/kubernetes

change client id
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/spring-dev/gateway/app/secret-spring-dev-gateway.sops.yaml
Labels: area/kubernetes

enable observability
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
Labels: area/kubernetes

move SCG grafana dashboard
  kubernetes/apps/gateway/spring-cloud-gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/dashboards/grafana-spring-cloud-gateway-for-kubernetes.json
  kubernetes/apps/spring-dev/gateway/app/dashboards/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 7640a36
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr to e3eeb1d
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

set ns
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
Labels: area/kubernetes

change dashboard folder name
  kubernetes/apps/spring-dev/gateway/app/dashboards/kustomization.yaml
Labels: area/kubernetes

update dashboard
  kubernetes/apps/spring-dev/gateway/app/dashboards/grafana-spring-cloud-gateway-for-kubernetes.json
Labels: area/kubernetes

remove legacy ds
  kubernetes/apps/spring-dev/gateway/app/dashboards/grafana-spring-cloud-gateway-for-kubernetes.json
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/readarr-nightly to 4673d24
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to 7f14968
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 7682cdc
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

update allowed networks
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

change config
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kured to 5.3.2
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.11.2319
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

remove file from git
  .gitignore
  Untitled-1.sh
Labels: root

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.1.4146
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-7
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.12.2323
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

change config
  kubernetes/apps/media/plex/app/config/preferences.cfg
Labels: area/kubernetes

update renovate packages
  .github/renovate/packageRules.json5
Labels: area/github

feat(container)!: Update image ghcr.io/onedr0p/lidarr to v2
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.14
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.17.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.3.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update flux group
  kubernetes/bootstrap/flux/install.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.3
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update cilium group to v1.14.5
  infrastructure/talos/integrations/cni/cilium.yaml
Labels: none

feat(container): update flux group
  kubernetes/bootstrap/flux/install.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.9.0
  infrastructure/.terraform.lock.hcl
  infrastructure/gcp-kms.tf
Labels: none

try to fix prowlarr
  terraform/downloads/prowlarr/download-client.tf
  terraform/downloads/prowlarr/indexer-proxy.tf
Labels: area/terraform

update list of tags
  terraform/downloads/prowlarr/indexer-proxy.tf
Labels: area/terraform

fix tags
  terraform/downloads/prowlarr/indexer-proxy.tf
Labels: area/terraform

update list
  terraform/downloads/prowlarr/indexer-proxy.tf
Labels: area/terraform
