Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

update categories
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

update category
  terraform/media/sonarr/download-client.tf
Labels: area/terraform

update category
  terraform/media/sonarr/download-client.tf
Labels: area/terraform

update category
  terraform/media/radarr/download-client.tf
Labels: area/terraform

add variable
  terraform/media/radarr/variables.tf
Labels: area/terraform

fix paths
  terraform/media/radarr/tags.tf
  terraform/media/sonarr/tags.tf
Labels: area/terraform

add remote path mappings
  terraform/media/radarr/download-client.tf
  terraform/media/sonarr/download-client.tf
Labels: area/terraform

update paths
  terraform/media/radarr/download-client.tf
  terraform/media/sonarr/download-client.tf
Labels: area/terraform

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-19
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

add supplemental groups
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

remove tags
  terraform/media/radarr/tags.tf
Labels: area/terraform

add tags
  terraform/media/radarr/tags.tf
Labels: area/terraform

udpate server
  kubernetes/apps/download/sabnzbd/common/secret-sabnzbd.sops.yaml
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

update category
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

set max bandwidth
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

update bandwidth
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2024.2.0
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v40.0.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart cert-manager to v1.14.2
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

disable terraform cloud
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/main.tf
Labels: area/kubernetes, area/terraform

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update bandwidth
  kubernetes/apps/download/sabnzbd/config/cm.yaml
Labels: area/kubernetes

enable more media apps
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

disable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable lidarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable overserr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

rename dirs
  kubernetes/apps/media/overseerr/app/config/settings.json
  kubernetes/apps/media/plex-meta-manager/app/config/config.yml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

update groups
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

update config
  kubernetes/apps/media/overseerr/app/config/settings.json
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.13.4
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.15.6
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2024.2.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add prowlarr indexer
  kubernetes/apps/download/prowlarr/app/kustomization.yaml
  kubernetes/apps/download/prowlarr/app/secret-prowlarr.sops.yaml
  kubernetes/apps/download/prowlarr/ks.yaml
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  terraform/downloads/prowlarr/indexers.tf
  terraform/downloads/prowlarr/variables.tf
Labels: area/kubernetes, area/terraform

update setters
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

change setters
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

add app_profile_id
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

change to sets
  terraform/downloads/prowlarr/indexers.tf
Labels: area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
