Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove lb
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove comments
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable gatus
  kubernetes/homelab-k8s-001/apps/media/romm/app/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove gatus
  kubernetes/homelab-k8s-001/apps/monitor/gatus/app/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove extra status check
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/monitor/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

set proxied
  kubernetes/homelab-k8s-001/apps/web/hajimari/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
  kubernetes/homelab-k8s-001/apps/web/hajimari/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/web/hajimari/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add placeholder
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

change txt prefix
  kubernetes/homelab-k8s-001/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable proxy apps and outpost
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update external secrets for bitwarden
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/certs/bitwarden-certs.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/bitwarden-cluster-secret-store.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/secret-bitwarden-access-token.sops.yaml
  kubernetes/homelab-k8s-001/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update issuerRef
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/certs/bitwarden-certs.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update issuerRef
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/certs/bitwarden-certs.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update caProvider
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/bitwarden-cluster-secret-store.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update caProvider
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/bitwarden-cluster-secret-store.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

deploy test
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update test
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add external secrets dashboard
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update datasource
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

updated secret
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/bitwarden-cluster-secret-store.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/secret-bitwarden-access-token.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update org id
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/secret-bitwarden-access-token.sops.yaml
  kubernetes/homelab-k8s-001/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cluster-settings
  kubernetes/homelab-k8s-001/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cabundle
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/bitwarden-cluster-secret-store.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable external-secrets
  kubernetes/homelab-k8s-001/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable external-secrets
  kubernetes/homelab-k8s-001/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update token
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/secret-bitwarden-access-token.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/dummy/external-secret.yaml
  kubernetes/homelab-k8s-001/apps/external-secrets/external-secrets/stores/bitwarden-cluster-secret-store.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable homepage
  docs/src/SUMMARY.md
  docs/src/assets/icons/bazarr.png
  docs/src/assets/icons/beyond.png
  docs/src/assets/icons/headscale.png
  docs/src/assets/icons/kah-logo.png
  docs/src/assets/icons/karma.ico
  docs/src/assets/icons/lds-transparent.png
  docs/src/assets/icons/lds.png
  docs/src/assets/icons/longhorn.png
  docs/src/assets/icons/maintainerr.png
  docs/src/assets/icons/nas.png
  docs/src/assets/icons/outlook.png
  docs/src/assets/icons/overseerr.png
  docs/src/assets/icons/portainer.png
  docs/src/assets/icons/prowlarr.png
  docs/src/assets/icons/qbittorrent.png
  docs/src/assets/icons/radarr.png
  docs/src/assets/icons/readarr.png
  docs/src/assets/icons/sabnzbd.png
  docs/src/assets/icons/sonarr.png
  docs/src/assets/icons/tautulli.png
  docs/src/assets/icons/tdarr.png
  docs/src/assets/icons/weave.png
  docs/src/assets/icons/wsc.png
  docs/src/assets/icons/youtube-music.png
  docs/src/assets/network-topology.png
  docs/src/assets/pikvm.png
  docs/src/introduction.md
  docs/src/notes/pikvm.md
  docs/src/notes/yaml-madness.md
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/rbac.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/ks.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/namespace.yaml
Labels: area/docs, area/kubernetes, cluster/homelab-k8s-001

fix config
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update units
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
  kubernetes/homelab-k8s-001/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable ingress
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"
