Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"

fix typo
  kubernetes/homelab-k8s-001/apps/network/external-dns/cloudflare/secret-external-dns-external.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update installdisk
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

move to archive
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/blocky-frontend-cm.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/helmrelease-fe.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/kustomization.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/resources/config.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/blocky-lb.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/dashboard/blocky-grafana.json
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/dashboard/blocky-query-grafana-postgres.json
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/dashboard/kustomization.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/dragonfly.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/kustomization.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/pgcluster.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/scheduledbackup.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/k8s-gateway/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/k8s-gateway/app/kustomization.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/k8s-gateway/ks.yaml
Labels: none

archive dragonfly cluster
  archive/kubernetes/homelab-k8s-001/apps/datastore/dragonfly/cluster/cluster.yaml
  archive/kubernetes/homelab-k8s-001/apps/datastore/dragonfly/cluster/kustomization.yaml
  archive/kubernetes/homelab-k8s-001/apps/datastore/dragonfly/cluster/podmonitor.yaml
  kubernetes/homelab-k8s-001/apps/datastore/dragonfly/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add worker
  kubernetes/homelab-k8s-001/talos/bootstrap.sh
Labels: area/kubernetes, cluster/homelab-k8s-001

enable geopip
  kubernetes/homelab-k8s-001/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/network/ingress-nginx/external/secret-nginx-external-maxmind.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove log
  kubernetes/homelab-k8s-001/apps/network/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

change cilium dashboards
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add hubble dashboards
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable smart for drives
  kubernetes/homelab-k8s-001/apps/monitor/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/monitor/smartctl-exporter/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/monitor/smartctl-exporter/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/monitor/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/homelab-k8s-001/apps/monitor/smartctl-exporter/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add missing properties
  kubernetes/homelab-k8s-001/apps/monitor/smartctl-exporter/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add smart dashboard
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update datasource
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable fstrim cronjob
  kubernetes/homelab-k8s-001/apps/storage/fstrim/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/storage/fstrim/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/storage/fstrim/ks.yaml
  kubernetes/homelab-k8s-001/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

fix ns
  kubernetes/homelab-k8s-001/apps/storage/fstrim/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add host network
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add iot network
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

manual update pg version
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/gatus/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/grafana/common/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/spring-dev/time-service/services/pgcluster.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add codeowners
  .github/CODEOWNERS
Labels: area/github

update install disk
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

clean up
  kubernetes/homelab-k8s-001/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

udpate config
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/resources/subcleaner.sh
Labels: area/kubernetes, cluster/homelab-k8s-001

disable auth annotation
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable auth annotation
  kubernetes/homelab-k8s-001/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update for gatus internal
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/media/wizarr/app/kustomization.yaml
  kubernetes/homelab-k8s-001/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update gatus
  kubernetes/homelab-k8s-001/apps/monitor/gatus/app/config/config.yaml
  kubernetes/homelab-k8s-001/templates/gatus/external/configmap.yaml
  kubernetes/homelab-k8s-001/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/monitor/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert
  kubernetes/homelab-k8s-001/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update ingress
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001
