Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

enable drift detection
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.16.2387
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v41.1.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

chore(container): update image ghcr.io/dmfrey/kubernetes-schemas to 54f8c27
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.7
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.63
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart spring-cloud-dataflow to 26.3.0
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.3
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.11.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart prometheus-operator-crds to 9.0.0
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kured to 5.4.0
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update kubernetes/kubernetes to 1.29.1
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(helm): update chart rabbitmq-cluster-operator to 3.11.1
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.2.4211
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tj-actions/changed-files action to v42.0.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

chore(container): update image ghcr.io/dmfrey/kubernetes-schemas to 54f8c27
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.15.1
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.6
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes

add more zones
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

update zone radius
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

update radius
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

update radius
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.11.2
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

add external-dns annotation
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/spring-dev/gateway/app/ingress.yaml
  kubernetes/apps/spring-dev/time-service/app/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/web/hajimari/app/helmrelease.yaml
  kubernetes/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

update ingress
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

enable approve plan
  kubernetes/apps/download/prowlarr/provision/tf.yaml
Labels: area/kubernetes

disable drift detection
  kubernetes/apps/download/prowlarr/provision/tf.yaml
Labels: area/kubernetes

remove disable drift detection
  kubernetes/apps/download/prowlarr/provision/tf.yaml
Labels: area/kubernetes

fix(helm): update chart spring-cloud-dataflow to 26.3.1
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.21.1
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

ugrade terraform
  terraform/downloads/prowlarr/main.tf
Labels: area/terraform

change version back to 1.3.9
  terraform/downloads/prowlarr/main.tf
Labels: area/terraform

disable cloud
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  terraform/downloads/prowlarr/main.tf
Labels: area/kubernetes, area/terraform

revert
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  terraform/downloads/prowlarr/main.tf
Labels: area/kubernetes, area/terraform

fix(helm): update chart grafana to 7.2.3
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.4
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart spring-cloud-dataflow to 26.4.0
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart rabbitmq-cluster-operator to 3.13.0
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
