Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update flux group
  kubernetes/bootstrap/flux/install.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.5
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.737
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.3
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.5.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook ceph group to v1.13.0
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to b6f7332
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.4
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.12.2326
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image flaresolverr/flaresolverr to v3.3.12
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-8
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to b6f7332
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to af5c8c7
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to af5c8c7
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 6296030
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-9
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.12.2327
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.2.4160
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/theme-park to v1.15.0
  kubernetes/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.33.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 6296030
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 1fcd457
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 1fcd457
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

updates for new node
  infrastructure/talos/apply.sh
  infrastructure/talos/bootstrap.sh
  infrastructure/talos/dashboard.sh
  infrastructure/talos/reboot.sh
  infrastructure/talos/reset.sh
  infrastructure/talos/shutdown.sh
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/wipe_and_reboot.sh
  infrastructure/talos/zap_nvme.sh
Labels: none

add new node
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

reconfigure network
  infrastructure/talos/talconfig.yaml
Labels: none

update dataflow
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
Labels: area/kubernetes

update multus networks
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/kustomization.yaml
  kubernetes/apps/network/multus/config/networkattachment-iot.yaml
  kubernetes/apps/network/multus/config/networkattachment-tv.yaml
Labels: area/kubernetes

disable init container
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.2.3
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(terraform): update terraform google to 5.10.0
  infrastructure/gcp-kms.tf
Labels: none

enable init container
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

disable plex
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

enable plex
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.10.0
  infrastructure/.terraform.lock.hcl
Labels: none

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.13.2331
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.19
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.738
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes
