Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

reset values
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.20.0
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-12
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.13.2334
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.15.0
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart spring-cloud-dataflow to 26.1.0
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update siderolabs/talos to v1.6.1
  infrastructure/talos/talconfig.yaml
Labels: none

update values
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
Labels: area/kubernetes

remove unknown group
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
Labels: area/kubernetes

remove claim
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
Labels: area/kubernetes

disable overseerr exporter
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

disable metrics port
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

enable exporter
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart spring-cloud-dataflow to 26.1.1
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.6
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.13.2336
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tj-actions/changed-files action to v41.0.0
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

update amd gpu node labeller
  kubernetes/apps/system/amd-device-plugin/app/labeller/helmrelease.yaml
  kubernetes/apps/system/amd-device-plugin/app/plugin/helmrelease.yaml
Labels: area/kubernetes

enable multus
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes

ha config
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

update fs access
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

update fs permissions
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

update hr
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix dependency references
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

add zigbee controller
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

renable node selector
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

change host mount
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

run as root
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

run privileged
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

add groups for usb
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

update config
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
Labels: area/kubernetes

run as root with groups
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

remove adapter from config
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
Labels: area/kubernetes

revert port
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
Labels: area/kubernetes

updates
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

change mounts
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.3.4163
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.14.2341
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v5.2.6.8376
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v41.0.1
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
