Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

remove configmap
  kubernetes/apps/dataflow/dataflow/app/kustomization.yaml
Labels: area/kubernetes

refactor spring-cloud-dataflow
  kubernetes/apps/dataflow/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/services/rabbitmq-cluster.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/kustomization.yaml
Labels: area/kubernetes

update values
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
Labels: area/kubernetes

separate deployments
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

update values
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

add probes
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

update env
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

update deployment
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/kustomization.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

change yaml to properties
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

configure substitute from
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

update ks config
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

remove configmap
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

feat(container): update flux group to v1.2.0
  kubernetes/bootstrap/flux/install.yaml
Labels: area/kubernetes

remove configmap
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

revert cm changes
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/kustomization.yaml
Labels: area/kubernetes

update cm
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
Labels: area/kubernetes

update cm
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
Labels: area/kubernetes

change cm mount
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

set enabled true
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

update cm
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
Labels: area/kubernetes

update to use yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
Labels: area/kubernetes

revert to helm chart
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/config.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.3
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

add scdf dashboards
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/kustomization.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-applications.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-kafka-streams.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-servers.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-streams.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-task-batch.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

fix name
  kubernetes/apps/dataflow/spring-cloud-dataflow/ks.yaml
Labels: area/kubernetes

fix namespace
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/kustomization.yaml
Labels: area/kubernetes

update metrics configuration
  Untitled-1.sh
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
Labels: root, area/kubernetes

update datasource
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-applications.json
Labels: area/kubernetes

update datasources
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-kafka-streams.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-servers.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-streams.json
  kubernetes/apps/dataflow/spring-cloud-dataflow/dashboards/scdf-task-batch.json
Labels: area/kubernetes

add git repo for scg-k8s
  kubernetes/flux/repositories/git/spring-cloud-gateway-k8s.yaml
Labels: area/kubernetes

deploy scg operator
  kubernetes/apps/gateway/kustomization.yaml
  kubernetes/apps/gateway/namespace.yaml
  kubernetes/apps/gateway/spring-cloud-gateway/app/dashboards/grafana-spring-cloud-gateway-for-kubernetes.json
  kubernetes/apps/gateway/spring-cloud-gateway/app/dashboards/kustomization.yaml
  kubernetes/apps/gateway/spring-cloud-gateway/app/helmrelease.yaml
  kubernetes/apps/gateway/spring-cloud-gateway/app/kustomization.yaml
  kubernetes/apps/gateway/spring-cloud-gateway/ks.yaml
Labels: area/kubernetes

fix name
  kubernetes/apps/gateway/spring-cloud-gateway/ks.yaml
Labels: area/kubernetes

fix path
  kubernetes/apps/gateway/spring-cloud-gateway/ks.yaml
Labels: area/kubernetes

add git repositories
  kubernetes/flux/repositories/kustomization.yaml
Labels: area/kubernetes

update git repo url
  kubernetes/flux/repositories/git/spring-cloud-gateway-k8s.yaml
Labels: area/kubernetes

update git repo url
  kubernetes/flux/repositories/git/spring-cloud-gateway-k8s.yaml
Labels: area/kubernetes

add git repo kustomize
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes
