Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"

disable authentik
  infrastructure/terraform/security/authentik/applications.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/security/kustomization.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

enable authentik
  kubernetes/homelab-k8s-001/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable groups
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

undo disable groups
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

enable application
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

enable grafana
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

remove comments
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update url
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

users test
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/users.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

user test
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

user test
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secrets
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/ks.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable substitutefrom authentik-users-secret
  kubernetes/homelab-k8s-001/apps/security/authentik/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

move external secret to flux-system
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

change interval
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update applications to spec
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

fix typo
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update version
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

revert version
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

make users external
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

remove comments
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

add secrets
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

externalize oauth applications
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update references
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

fix typo
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

add secrets
  kubernetes/homelab-k8s-001/apps/security/authentik/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove comments
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

externalize groups
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

revert externalize groups
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

add depends on to users
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

add depends on groups to applications
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

manual update pg version
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/gatus/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/grafana/common/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/spring-dev/time-service/services/pgcluster.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add homepage token
  infrastructure/terraform/security/authentik/tokens.tf
Labels: area/terraform

change user
  infrastructure/terraform/security/authentik/tokens.tf
Labels: area/terraform

change user
  infrastructure/terraform/security/authentik/tokens.tf
Labels: area/terraform

add akadmin ds
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

enable proxy applications
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update flows
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform
