Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

fix volsync template paths
  kubernetes/homelab-k8s-001/apps/home/matterbridge/ks.yaml
  kubernetes/homelab-k8s-001/apps/home/wyoming-services/ks.yaml
  kubernetes/homelab-k8s-001/apps/media/romm/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update archive references
  README.md
  archive/kubernetes/homelab-k8s-001/apps/ai/ollama/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/datastore/emqx/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/dev/gitlab/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/dev/sonatype/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/dev/trilium/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/home/wyoming-piper/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/home/wyoming-whisper/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/logs/promtail/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/media/readarr/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/media/tdarr/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/monitor/node-exporter/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/monitor/otel/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/spring-dev-2/common/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/spring-dev-2/secure-app/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/spring-dev/monomart/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/system/kube-vip/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/system/system-upgrade-controller/ks.yaml
  archive/kubernetes/homelab-k8s-001/apps/web/videos/ks.yaml
Labels: area/docs

update workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

update workflows
  .github/workflows/flux-hr-sync.yaml
  archive/.github/workflows/kubeconform.yaml
Labels: area/github

update runner
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

update secret namespace
  kubernetes/homelab-k8s-001/apps/actions-runner-system/gha-runner-scale-set-controller/app/secret-github-app-config.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
Labels: area/github

update nfs mount
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update nfs
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update pg db version
  kubernetes/homelab-k8s-001/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/gatus/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/grafana/common/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/network/blocky/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/spring-dev/time-service/services/pgcluster.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update nfs config
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pv.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pvc.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update nfs path
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pv.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update backups nfs
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert nfs change
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert nfs
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pv.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pv.yaml
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add supplemental group
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update nfs backups config
  kubernetes/homelab-k8s-001/apps/media/radarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update nfs backups config
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pv.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/pvc.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update nfs backups config
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add external-dns unifi webhook
  archive/kubernetes/homelab-k8s-001/apps/network/external-dns/internal/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/external-dns/internal/kustomization.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/external-dns/internal/secret-external-dns-internal.sops.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/ks.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/unifi/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/unifi/secret-external-dns-unifi.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add external-dns repo
  kubernetes/homelab-k8s-001/flux/repositories/helm/external-dns.yaml
  kubernetes/homelab-k8s-001/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update csr approver regex
  kubernetes/homelab-k8s-001/apps/system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable intel device plugin
  .gitignore
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/gpu/nodefeaturerule.yaml
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/ks.yaml
  kubernetes/homelab-k8s-001/apps/system/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/system/node-feature-discovery/rules/intel-gpu-device.yaml
  kubernetes/homelab-k8s-001/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/homelab-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add intel repo
  kubernetes/homelab-k8s-001/flux/repositories/helm/intel.yaml
  kubernetes/homelab-k8s-001/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

set plex for intel gpu
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update plex selector
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update external-dns cloudflare
  kubernetes/homelab-k8s-001/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/cloudflare/secret-external-dns-external.sops.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cloudflare config
  kubernetes/homelab-k8s-001/apps/network/cloudflared/app/config/config.yaml
  kubernetes/homelab-k8s-001/apps/network/cloudflared/app/dnsEndpoint.yaml
  kubernetes/homelab-k8s-001/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update dependency
  kubernetes/homelab-k8s-001/apps/network/cloudflared/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

fix config
  kubernetes/homelab-k8s-001/apps/network/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable services
  kubernetes/homelab-k8s-001/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update hass service
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove lb
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove lb
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable blocky
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/datasources-cm.yaml
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"
