Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"

remove config
  infrastructure/terraform/security/authentik/provider.tf
Labels: area/terraform

revert delete
  infrastructure/terraform/security/authentik/providers.tf
Labels: area/terraform

update regex
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

update config
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

update minio ingress
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add static config for minio
  kubernetes/homelab-k8s-001/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

replace additionalScrapeConfigs with crds
  kubernetes/homelab-k8s-001/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add minio dashboard
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update minio datasource
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert ds change
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/brand.tf
  infrastructure/terraform/security/authentik/customization.tf
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/flows.tf
  infrastructure/terraform/security/authentik/groups.tf
  infrastructure/terraform/security/authentik/scopes.tf
  infrastructure/terraform/security/authentik/source.tf
  infrastructure/terraform/security/authentik/stages-prompt_fields.tf
  infrastructure/terraform/security/authentik/stages.tf
  infrastructure/terraform/security/authentik/system.tf
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update scrape configs
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update scrape config selectors
  kubernetes/homelab-k8s-001/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add ports
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

set to local service
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable ingress
  kubernetes/homelab-k8s-001/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update scheme
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update minio scrap config
  kubernetes/homelab-k8s-001/apps/network/external-services/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/network/external-services/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update scrape job
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update authorization type
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update scrape config
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove duplicate
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

disable variable
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

update config
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update config
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update local variables
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update vars
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update plex source
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

change vars
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update vars
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update vars
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update key
  infrastructure/terraform/security/authentik/system.tf
Labels: area/terraform

update secret extract
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

update secret extract
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

update bitwarden
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform

update secret access
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

enable debugging
  infrastructure/terraform/security/authentik/applications.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update secret keys
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update secret parsing
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform
