Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

fix(container): update image ghcr.io/onedr0p/exportarr to v1.6.1
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.3
  .github/workflows/broken-link-check.yaml
Labels: area/github

chore(container): update image ghcr.io/recyclarr/recyclarr to e4b98fc
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to da38d58
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image gha-runner-scale-set to v0.8.2
  kubernetes/apps/dev/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.23.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.7
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/system/kubelet-csr-approver/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-node-exporter to 4.26.1
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.7
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.7
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.14.0
  infrastructure/.terraform.lock.hcl
  infrastructure/gcp-kms.tf
Labels: none

fix(helm): update chart promtail to 6.15.5
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart rabbitmq-cluster-operator to 3.15.0
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 56.3.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

disable gha action runner
  kubernetes/apps/dev/kustomization.yaml
Labels: area/kubernetes

enable gha action runners
  kubernetes/apps/dev/kustomization.yaml
Labels: area/kubernetes

update version
  kubernetes/apps/dev/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 7.3.0
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.18.2411
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.42.1
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart spring-cloud-dataflow to 26.5.1
  kubernetes/apps/dataflow/spring-cloud-dataflow/app/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/metrics/helmrelease.yaml
  kubernetes/apps/dataflow/spring-cloud-dataflow/skipper/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.6
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.15.1
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kured to 5.4.2
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.65
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

update app template version
  kubernetes/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

update app-template version to 2.5.0
  kubernetes/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-piper/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-whisper/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/spring-dev/time-service/app/helmrelease.yaml
  kubernetes/apps/system/amd-device-plugin/app/labeller/helmrelease.yaml
  kubernetes/apps/system/amd-device-plugin/app/plugin/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cilium to 1.15.0
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes

update tag
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

update values
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

revert
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

disable cilium
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

enable cilium
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

disable dependencies
  kubernetes/apps/network/cilium/ks.yaml
Labels: area/kubernetes

enable dependencies
  kubernetes/apps/network/cilium/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.1047
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rabbitmq-cluster-operator to 3.15.2
  kubernetes/apps/datastore/rabbitmq-cluster-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.27.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-controller to 2.1.0
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform prowlarr to 2.2.0
  terraform/downloads/prowlarr/.terraform.lock.hcl
  terraform/downloads/prowlarr/main.tf
Labels: area/terraform
