Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"

enable ingress
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable ingress
  kubernetes/homelab-k8s-001/apps/media/radarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/media/radarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update ingress
  kubernetes/homelab-k8s-001/apps/network/external-services/minio.yaml
  kubernetes/homelab-k8s-001/apps/network/external-services/unifi.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable ingress
  kubernetes/homelab-k8s-001/apps/network/external-services/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

fix
  kubernetes/homelab-k8s-001/apps/network/external-services/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/network/external-services/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable ingress
  kubernetes/homelab-k8s-001/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ingress
  kubernetes/homelab-k8s-001/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update widgets
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update secret
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update widgets
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add homepage annotations
  kubernetes/homelab-k8s-001/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update homepage annotations
  kubernetes/homelab-k8s-001/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/sabnzbd/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/radarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update hosts
  kubernetes/homelab-k8s-001/apps/media/radarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enalbe ingress
  kubernetes/homelab-k8s-001/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove lidarr from calendar
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update bazarr api key
  kubernetes/homelab-k8s-001/apps/media/common/resource/secret-starr-apps.sops.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update url
  kubernetes/homelab-k8s-001/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add jellyfin to homepage
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add authentik to homepage
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add pod gateway to homepage
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add gatus
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update romm ingress
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add grafana to homepage
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add qnap to homepage
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add prometheus to homepage
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add icons
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add grafana credentials
  kubernetes/homelab-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update ingresses
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove comment
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

change ingress
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert ingress
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update talos version
  kubernetes/homelab-k8s-001/cluster.env
Labels: area/kubernetes, cluster/homelab-k8s-001

update tasks
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
Labels: area/taskfile

update tf controller
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/app/secret-terraform-bitwarden-secret.sops.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update ks
  kubernetes/homelab-k8s-001/apps/flux-system/tf-controller/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update authentik secrets
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update authentik secrets
  infrastructure/terraform/security/authentik/main.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/ks.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update config
  infrastructure/terraform/security/authentik/main.tf
Labels: area/terraform
