Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"

disable multus
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update network attachment
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert change
  kubernetes/homelab-k8s-001/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/home/esphome/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update attachment definition
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert changes
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert change
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert config change
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

revert change
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update cilium and multus
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helm-values.yaml
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/multus/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add extra config
  kubernetes/homelab-k8s-001/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update net attach def
  kubernetes/homelab-k8s-001/apps/network/multus/config/networkattachment-iot.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update kustomization
  kubernetes/homelab-k8s-001/apps/network/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable multus
  kubernetes/homelab-k8s-001/apps/home/esphome/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/matter-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update timeouts
  kubernetes/homelab-k8s-001/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable multus
  kubernetes/homelab-k8s-001/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable multus
  kubernetes/homelab-k8s-001/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

test multus
  kubernetes/homelab-k8s-001/apps/download/common/admin/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable services
  kubernetes/homelab-k8s-001/apps/network/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/policy/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable kyverno
  kubernetes/homelab-k8s-001/apps/policy/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/policy/kyverno/policies/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable multus
  kubernetes/homelab-k8s-001/apps/download/common/admin/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove auth annotation
  kubernetes/homelab-k8s-001/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update task files
  .taskfiles/Talos/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

update archives to app-template 3.6.0
  archive/kubernetes/homelab-k8s-001/apps/ai/ollama/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/dataflow/spring-cloud-dataflow/dataflow/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/dev/trilium/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/home/home-assistant/home-assistant-addons/otbr/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/media/readarr/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/media/tdarr/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/media/tdarr/node/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/helmrelease-fe.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/app/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/spring-dev/monomart/commerce/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/spring-dev/monomart/inventory/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/spring-dev/monomart/monomart-ui/helmrelease.yaml
  archive/kubernetes/homelab-k8s-001/apps/web/videos/app/helmrelease.yaml
Labels: none

update app-template 3.6.0
  kubernetes/homelab-k8s-001/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/system/amd-device-plugin/app/labeller/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/system/amd-device-plugin/app/plugin/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/system/generic-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/self-hosted/hedgedoc/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/self-hosted/homepage/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/spring-dev/time-service/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/storage/fstrim/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/multus/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/monitor/alert-manager/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/monitor/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/datastore/dragonfly/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/common/admin/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/flaresolverr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/download/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/home/esphome/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant-matter-hub/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/git-sync-hr.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/matter-server/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/openthread/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove dependency on multus-config
  kubernetes/homelab-k8s-001/apps/home/esphome/ks.yaml
  kubernetes/homelab-k8s-001/apps/home/home-assistant/ks.yaml
  kubernetes/homelab-k8s-001/apps/home/matter-server/ks.yaml
  kubernetes/homelab-k8s-001/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/jellyplex-watched/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/plex-meta-manager/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/radarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update app-template to 3.6.0
  kubernetes/homelab-k8s-001/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable ollama
  kubernetes/homelab-k8s-001/apps/ai/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/ai/namespace.yaml
  kubernetes/homelab-k8s-001/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/ai/ollama/app/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/ai/ollama/app/pvc.yaml
  kubernetes/homelab-k8s-001/apps/ai/ollama/ks.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001
