Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

feat(helm)!: Update chart kube-prometheus-stack to 56.0.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.4
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add promtail deployment
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
  kubernetes/apps/monitor/promtail/app/kustomization.yaml
  kubernetes/apps/monitor/promtail/ks.yaml
Labels: area/kubernetes

update source ref
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

update loki endpoint
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart promtail to 6.15.3
  kubernetes/apps/monitor/promtail/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kured to 5.4.1
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.15.1
  kubernetes/apps/web/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 56.0.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

add notify dir
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

add notify group
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

add starbucks zone
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.5
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.953
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/dmfrey/kubernetes-schemas to a7ac289
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.59
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.2.4
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.14.2
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/dmfrey/kubernetes-schemas to a7ac289
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/create-github-app-token digest to c4fa18d
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to c4fa18d
  .github/workflows/broken-link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 56.0.3
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.20.1
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.8
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.13.0
  infrastructure/.terraform.lock.hcl
  infrastructure/gcp-kms.tf
Labels: none

add scene for outside lights at night
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

update scene name
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

update scene
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

update scene
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

add unique_id
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

remove unique_id
  kubernetes/apps/home/home-assistant/app/config/scenes.yaml
Labels: area/kubernetes

update config
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

update port
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

update config
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.987
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

update southern lehigh radius
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*
