Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/terraform, area/taskfile, cluster/homelab-k8s-001

.github/labeler.yaml:

---
#Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile.yaml

# Clusters
cluster/homelab-k8s-001:
 - changed-files:
     - any-glob-to-any-file: "kubernetes/homelab-k8s-001/**/*"

update parsing
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update parsing
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update parsing
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update application secrets
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update secret
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update names
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

add spring boot icon
  docs/src/assets/icons/spring-boot.png
Labels: area/docs

add icon
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

update config
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update log level
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

enable cors
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

remove theme-park
  kubernetes/homelab-k8s-001/apps/media/romm/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable applications
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

disable authentik
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/authentik-dragonfly-cluster.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/authentik-dragonfly-podmonitor.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable authentik
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/kustomization.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/ks.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/kv/authentik-dragonfly-cluster.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/kv/authentik-dragonfly-podmonitor.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/kv/kustomization.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

update config
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

disable default brand
  infrastructure/terraform/security/authentik/system.tf
Labels: area/terraform

enable geoip
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

enable app
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

enable application
  infrastructure/terraform/security/authentik/applications.tf
Labels: area/terraform

manual update
  kubernetes/homelab-k8s-001/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

manual postgres upgrade
  archive/kubernetes/homelab-k8s-001/apps/network/blocky/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/dataflow/spring-cloud-dataflow/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/database/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/spring-dev/time-service/services/pgcluster.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

manual postgres db version update
  kubernetes/homelab-k8s-001/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/gatus/services/pgcluster.yaml
  kubernetes/homelab-k8s-001/apps/monitor/grafana/common/pgcluster.yaml
Labels: area/kubernetes, cluster/homelab-k8s-001

add users
  infrastructure/terraform/security/authentik/users.tf
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update users function
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

lookup in all groups
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

update users
  infrastructure/terraform/security/authentik/directory.tf
  infrastructure/terraform/security/authentik/users.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update user group lookup
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update group lookup
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

change group lookup
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update group lookup
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update lookup
  infrastructure/terraform/security/authentik/directory.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update function call
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

change lookup
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

change lookup
  infrastructure/terraform/security/authentik/users.tf
Labels: area/terraform

add groups output
  infrastructure/terraform/security/authentik/directory.tf
Labels: area/terraform

update users and disable groups
  infrastructure/terraform/security/authentik/users.tf
  kubernetes/homelab-k8s-001/apps/security/authentik/app/externalsecret.yaml
  kubernetes/homelab-k8s-001/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes, area/terraform, cluster/homelab-k8s-001

update user object
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

update user object
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform

update user object
  infrastructure/terraform/security/authentik/variables.tf
Labels: area/terraform
