Repository dmfrey/home-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
root:
- changed-files:
  - any-glob-to-any-file: '*'
  
area/github:
- changed-files:
  - any-glob-to-any-file: .github/**/*

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*

area/hack:
- changed-files:
  - any-glob-to-any-file: hack/**/*

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**/*

set reference to tag
  terraform/downloads/prowlarr/indexer-proxy.tf
Labels: area/terraform

make consistent
  terraform/downloads/prowlarr/applications.tf
  terraform/downloads/prowlarr/download-client.tf
Labels: area/terraform

update flaresolverr
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

add notifications to prowlarr
  kubernetes/apps/media/common/resource/secret-starr-apps.sops.yaml
  terraform/downloads/prowlarr/notification.tf
  terraform/downloads/prowlarr/variables.tf
Labels: area/kubernetes, area/terraform

add retry
  terraform/downloads/prowlarr/notification.tf
Labels: area/terraform

fix(container): update image flaresolverr/flaresolverr to v3.3.11
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.734
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.12.2324
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.17
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

change service type
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
Labels: area/kubernetes

remove loadbalancer
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
Labels: area/kubernetes

deploy metrics service for gateway
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/metrics-service.yaml
Labels: area/kubernetes

add gateway service monitor
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/metrics-service.yaml
  kubernetes/apps/spring-dev/gateway/app/metrics-servicemonitor.yaml
Labels: area/kubernetes

fix port
  kubernetes/apps/spring-dev/gateway/app/metrics-servicemonitor.yaml
Labels: area/kubernetes

replace servicemonitor with podmonitor
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
  kubernetes/apps/spring-dev/gateway/app/podmonitor.yaml
Labels: area/kubernetes

remove scrapeTimeout
  kubernetes/apps/spring-dev/gateway/app/podmonitor.yaml
Labels: area/kubernetes

disable annotations
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
Labels: area/kubernetes

update podmonitor
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
  kubernetes/apps/spring-dev/gateway/app/podmonitor.yaml
Labels: area/kubernetes

update podmonitor
  kubernetes/apps/spring-dev/gateway/app/podmonitor.yaml
Labels: area/kubernetes

test port change
  kubernetes/apps/spring-dev/gateway/app/podmonitor.yaml
Labels: area/kubernetes

add new node
  infrastructure/talos/talconfig.yaml
Labels: none

revert port
  kubernetes/apps/spring-dev/gateway/app/podmonitor.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.54
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.41.2
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.18.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/add-ons/notifications/alert.yaml
Labels: area/kubernetes

chore(deps): update provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/add-ons/notifications/alert.yaml
Labels: area/kubernetes

feat(github-release): update kubernetes/kubernetes to 1.29.0
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

remove rpi nodes
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

remove rpi nodes
  infrastructure/talos/apply.sh
  infrastructure/talos/bootstrap.sh
  infrastructure/talos/talconfig.yaml
Labels: none

update endpoints
  infrastructure/talos/dashboard.sh
Labels: none

enable service monitory
  kubernetes/apps/spring-dev/gateway/app/gateway-config.yaml
  kubernetes/apps/spring-dev/gateway/app/kustomization.yaml
Labels: area/kubernetes

disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.12.10
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.5
  infrastructure/talos/integrations/cni/app/kustomization.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart kube-prometheus-stack to 55.4.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update flux group
  kubernetes/bootstrap/flux/install.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 97b74a2
  kubernetes/apps/dev/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes
